@media (min-width: 769px) and (max-width: 1023px) {
  .first-section,
  .second-section,
  .third-section,
  .header-main {
    padding: 80px 50px 80px 50px;
    border: 2px solid red;
  }
  
    .first-section-content {
    justify-content: center;
    align-items: center;
  }

  .first-section-left h1 {
    font-size: 3em;
    text-align: center;
  }

  .first-section-right p {
    font-size: 1.2em;
    line-height: 150%;
    text-align: center;
  }

  .first-section-right-btn {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /*Outras seções*/

  .second-section-left h2,
  .third-section-left h2 {
    font-size: 2.5em;
    line-height: 120%;
    text-align: center;
}
  .second-section-right p {
    font-size: 1.2em;
    line-height: 150%;
    text-align: center;
  }

    .second-section-content {
    justify-content: center;
    align-items: center;
  }
    
    .third-section-content {
        flex-wrap: wrap;
        justify-content: center;
        border: 2px solid red;
    }

    .third-section-left,
    .third-section-right {
        width: 524px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}