@media (min-width: 769px) and (max-width: 1023px) {
    
    .body-container {
        padding: 80px 20px;
    }

    .first-section {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    
    .header-container-left h1 {
        font-size: 2.5em;
        text-align: center;
    }

    .recipient-btn {
        display: flex;
        justify-content: center;
    }

    .produtos-tittle h2 {
        font-size: 2em;
    }

    .produtos .item h3 {
        font-size: 1em;
    }

    /*produtos-content*/

    .produtos {
        justify-items: center;
    }

    .produtos-tittle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .last-section-left .top h2 {
        font-size: 2em;
    }

    .last-section-left .bottom h3 {
        font-size: 1em;
    }

}