@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    padding: 0;
     color: #4C666D;
}

.devices-header,
.monitor,
.termometro,
.medidor,
.last-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container {
    display: flex;
    flex-direction: column;
    padding: 112px 64px 112px 64px;
    width: 100%;
}

.n-container {
    width: 100%;
    max-width: 1128px;
    border: 2px solid red;
}


.first-section {
    display: flex;
    gap: 80px;
}
.header-container-left,
.header-container-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 524px;
    width: 100%;
}

.sub-container-left{
    justify-content: center;
}

.recipient-btn {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#header-first-btn,
#header-second-btn {
    height: 48px;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#header-first-btn {
    width: 135px;
    background-color: #11D3D3;
    color: #fff;
    border: none;
}

#header-first-btn:hover {
    background-color: #00b7c3;
}

#header-second-btn {
    width: 198px;
    background: none;
    border: 1px solid #11D3D3;
    color: #4C666D;
}

#header-second-btn:hover {
    background-color: #235f74;
    color: #fff;
}

.header-container-left h1 {
    font-size: 3.5em;
}

.header-container-right p {
    font-size: 1.125em;
    line-height: 150%;
}


/* MONITOR */
/* TERMÔMETRO */
/* MEDIDOR */

.monitor {
    padding-top: 112px;
}

.main-devices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.produtos-tittle {
    margin-bottom: 80px;
}

.produtos-tittle h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 2.5em;
}


.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 32px;
}

.produtos .item{
  text-align: center;
  max-width: 296px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: 1px solid;
}

.produtos .item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.produtos .item img {
  width: 100%;
  min-height: 364.8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.produtos .item a{
    text-decoration: none;
    color: #000;
}

.produtos .item h3{
    font-size: 1.125em;
    margin-top: 16px;
    margin-bottom: 8px;
}

.produtos .item p{
    font-size: 0.875em;
    margin-bottom: 16px;
}

.medidor .produtos {
    display: flex;
    justify-items: start;
    flex-wrap: wrap;
}

.ver-todos-btn {
    width: 138px;
    height: 34px;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    border: none;
    background-color: #11D3D3;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

/*LAST SECTION*/

.last-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.last-section-content {
    display: flex;
    min-height: 588.8px;
    gap: 80px;
}

.last-section-right,
.last-section-left {
    flex: 1 1 400px;
}

.last-section-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.last-section-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.last-section-left .top h2 {
    font-size: 2.5em;
    line-height: 120%;
    margin-bottom: 32px;
}

.last-section-left .top li {
    font-size: 1.125em;
    line-height: 150%;
}
