@media (min-width: 1024px) {


    .carousel {
    padding: 32px 24px 24px 24px;
  }

  .carousel blockquote {
    font-size: 1.1em;
    padding: 0 12px;
  }

  .carousel-profile {
    flex-direction: column;
    gap: 8px;
  }

  .carousel-logo {
    margin-left: 0;
  }

}
