@media (max-width: 793px) {


    .body-container {
      padding: 40px 10px;
    }

  .carousel {
    display: none;
  }

  .n-container {
    padding: 64px 0px;
}

    .recognition-header-content {
      flex-direction: column;
      text-align: center;
    }

  .hamburger {
    display: flex;
    align-items: flex-start;
  }



  .banner-home-index {
    padding: 40px 20px;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  .banner-content-index {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
  }

  .banner-content-index h2 {
    font-size: 2em;
  }

  .banner-content-index p {
    font-size: 0.95rem;
  }

  .buttons-index {
    flex-direction: column;
    gap: 12px;
  }

  .btn-index {
    width: 100%;
    text-align: center;
  }

  .btn-login {
    width: 100px;
    height: 34px;
    padding: 5px 15px;
  }

  .language-selector {
    font-size: 14px;
    gap: 4px;
  }


        /* Header */

    .r-header-content-left {
      border: 1px solid #11D3D3;
      border-radius: 10px;
      padding: 15px;
    }

    .class-image {
        height: 524px;
    }

  .r-header-content-left h1 {
    font-size: 2em;
    text-align: center;
  }

   .r-header-content-left p {
    font-size: 0.9em;
    text-align: center;
   }

        /* Monitoramento remoto */

    .sub-container-mid h2 {
        font-size: 1.8em;
    }

    .sub-container-mid p {
        font-size: 0.9em;
    }

     .sub-col-items-left,
     .sub-col-items-right {
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        padding: 25px;
        border-radius: 10px;
    }
    
    .sub-col-items h3 {
        font-size: 1.2em;
    }

    .sub-col-items p {
        font-size: 0.9em;
    }

    .sub-col {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      justify-content: center;
    }

    .cols-4 {
      display: flex;
      flex-direction: column;
    }

    #mid-img {
      height: 540px;
      max-width: 100%;
    }
 
 /*agendamento*/

.agendamento-content {
    gap: 32px;
    flex-wrap: wrap;
}

.sub-container-left h2 {
  font-size: 1.8em;
  text-align: center;
}

.sub-container-left p {
  font-size: 0.9em;
  text-align: center;
}

.sub-container-left {
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.recipient-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.last-image {
  aspect-ratio: 0;
}
}