@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    padding: 0;
     color: #4C666D;
}

.body-container {
    display: flex;
    align-items: center ;
    flex-direction: column;
}

.n-container {
    width: 100%;
    max-width: 1128px;
    padding: 112px 0px;
}


.appli-header {
    background: linear-gradient(to right, rgba(17, 211, 211, 0.199) 0%, rgba(0, 0, 0, 0.53) 53%)
, url(assets/header-banner.png);
    background-size: cover;
    background-position:  left center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.appli-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 80px;
}

.header-appli-tittle {
    width: 100%;
    max-width: 543px;
    height: auto;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.header-appli-tittle h1 {
    font-size: 3.5em;
    line-height: 120%;
    color: #fff;
}

.header-appli-tittle span {
    text-transform: uppercase;
}

.header-appli-tittle p {
    font-size: 1.25em;
    line-height: 150%;
    color: #fff;
}

.appli-header-btn button {
    width: 270px;
    height: 48px;
    background: none;
    border: 1px solid #11D3D3;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    font-size: 1em;
}

.appli-header-btn {
    width: 100%;
    max-width: 543px;
}



/* ......................... */

.first-section-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

.first-section-tittle h2 {
    font-size: 2.5em;
    line-height: 120%;
    text-align: center;
}

.first-section-cards {
    display: flex;
    justify-content: center;
    gap: 48px;
    width: 100%;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    width: 100%;
    max-width: 344px;
}

.card-img {
    width: 100%;
}

.card img {
  width: 100%;
  height: 209px;
  object-fit: cover;
  display: block;
}

.card-span {
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: top;
    height: 100%;
}

.card span {
    font-size: 1em;
    line-height: 150%;
    text-align: center;
    width: 100%;
    max-width: 344px;
}

/* ........................... */

.second-section-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

.second-section-tittle {
    padding: 24px;
}

.second-section-tittle h2 {
    font-size: 2.5em;
    line-height: 120%;
    text-align: center;
}

.second-section-cards {
    display: flex;
    justify-content: center;
    gap: 48px;
    width: 100%;
}

.card-icon img{
    width: 56px;
    height: auto;
    object-fit: fill;
}


/* ............... */


.last-section {
    display: flex;
}

.last-section::before {
  content: '';
  position: absolute;
  right: 0;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle at top right, #11D3D3 -80%, transparent 60%);
  z-index: 0;
  pointer-events: none;
}

.last-section-content {
    display: flex;
    min-height: 561px;
    gap: 80px;
}

.last-section-right,
.last-section-left {
    flex: 1 1 400px;
}

.last-section-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.last-section-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 99;
}

.last-section-left .top h2 {
    font-size: 2.5em;
    line-height: 120%;
    margin-bottom: 32px;
}

.last-section-left .top p {
    font-size: 1.125em;
    line-height: 150%;
}

.last-section-left .bottom li {
    font-size: 1.125em;
    line-height: 150%;
    margin-left: 10px;
}

.last-section-left .bottom {
    display: flex;
    flex-direction: column;
}

.last-section-left .bottom h3 {
    font-size: 1.25em;
    margin-bottom: 32px;
}


/* ............... */

.banner-footer {
  padding-bottom: 120px !important;
  padding-top: 120px !important;
  display: flex;
}

.banner-footer {
  position: relative;
  width: 100%;
  padding-bottom: 120px;
  padding-top: 120px;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 2px;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  color: white;
}


.banner-content {
  background-image: linear-gradient(135deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(18, 223, 223, 0.2) 100%),
    url(assets/footer-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 402px;
  z-index: 99;
}

.banner-items {
  max-width: 768px;
  padding: 32px;
  height: auto;
}

.banner-items h2 {
  font-weight: 700;
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 16px;
}

.banner-items p {
  font-weight: 300;
  line-height: 150%;
  font-size: 1.1em;
  margin-bottom: 24px;
  max-width: 420px;
}

.banner-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.btn-primary,
.btn-secondary {
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 24px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary {
  width: 135px;
  height: 48px;
  background-color: #11D3D3;
  color: white;
}

.btn-primary:hover {
  background-color: #00b7c3;
}

.btn-secondary {
  width: 198px;
  height: 48px;
  background-color: transparent;
  color: white;
  border: 1px solid #11D3D3;
}

.btn-secondary:hover {
  background-color: #235f74;
}

