@media (max-width: 768px) {
  
    .body-container {
        padding: 80px 20px;
    }

    .first-section {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
            border: 1px solid #11D3D3;
    padding: 25px;
    border-radius: 10px;
    }
  
  .header-content {
    flex-wrap: wrap;
    gap: 16px;
  }

  .hamburger {
    display: flex;
    align-items: flex-start;
  }

  .produtos .item{
    max-width: 768px;
  }

 

  .banner-home-index {
    padding: 40px 20px;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  .banner-content-index {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
  }

  .banner-content-index h2 {
    font-size: 2em;
  }

  .banner-content-index p {
    font-size: 0.95rem;
  }

  .buttons-index {
    flex-direction: column;
    gap: 12px;
  }

  .btn-index {
    width: 100%;
    text-align: center;
  }


  .btn-login {
    width: 100px;
    height: 34px;
    padding: 5px 15px;
  }

  .language-selector {
    font-size: 14px;
    gap: 4px;
  }

  /*PRIMEIRA SEÇÃO*/

      .header-container-left h1 {
        font-size: 2em;
        text-align: center;
    }

    .header-container-right p {
      font-size: 0.9em;
    }

    .recipient-btn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .produtos-tittle h2 {
        font-size: 1.6em;
    }

    .produtos .item h3 {
        font-size: 1em;
    }

    .produtos-tittle {
      text-align: center;
    }

    /*produtos-content*/

    .produtos-content,
    .termometro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    
    .medidor .produtos{
      display: flex;
      flex-wrap: wrap !important;
      justify-content: center;
    }

    .produtos-tittle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .last-section-left .top h2 {
        font-size: 2em;
    }

    .last-section-left .bottom h3 {
        font-size: 1em;
    }

    .last-section-content {
      flex-wrap: wrap;
      text-align: center;
    }
}