@media (max-width: 768px) {

  .body-container {
        padding: 40px 20px;
    }

    .header-content {
    flex-wrap: wrap;
    gap: 16px;
  }

  .hamburger {
    display: flex;
    align-items: flex-start;
  }


  .banner-home-index {
    padding: 40px 20px;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  .banner-content-index {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
  }

  .banner-content-index h2 {
    font-size: 2em;
  }

  .banner-content-index p {
    font-size: 0.95rem;
  }

  .buttons-index {
    flex-direction: column;
    gap: 12px;
  }

  .btn-index {
    width: 100%;
    text-align: center;
  }


  .btn-login {
    width: 100px;
    height: 34px;
    padding: 5px 15px;
  }

  .language-selector {
    font-size: 14px;
    gap: 4px;
  }

    
    .header-tittle {
        font-size: 2em;
    }

    .header-items {
        border: 1px solid #11D3D3;
        padding: 15px;
        border-radius: 10px;
    }

    .header-items span,
    .monitoramento-right span,
    .medicos-content-left-top span,
    .hospitais-content-left-top span,
    .pacientes-content-left-top span {
        font-size: 1em;
        text-align: center;
    }

    .header-btn {
        flex-direction: column;
        align-items: center;
    }

    .monitoramento-items {
        flex-direction: column-reverse;
    }

    .monitoramento-right h3,
    .medicos-content-left-top h3,
    .hospitais-content-left-top h3,
    .pacientes-content-left-top h3 {
        font-size: 2em;
        text-align: center;
    }

    .monitoramento-right-bottom h4,
    .box-items h4 {
        font-size: 1.1em;
        text-align: center;
    }

    .monitoramento-right-bottom span,
    .box-items span {
        font-size: 0.9em;
        text-align: center;
    }

    .monitoramento-right-bottom {
        flex-direction: column;
    }

    .monitoramento-right-bottom .left,
    .monitoramento-right-bottom .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
        border-radius: 10px;
    }

    .box-items {
        box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
        border-radius: 10px;
        padding: 25px;
    }

    .pacientes-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-direction: column;
    }
}