<footer class="footer">
  <div class="container-footer">
    <div class="footer-section footer-left">
      <div>
        <img class="logo-footer" src="../../assets/logo-footer-with-list.png" alt="" />
      </div>
      <address>
        1234, Dr Emilio St, South City<br />
        New York 0124
      </address>
      <div class="social-icons">
        <a href="https://www.facebook.com/emmitechealth" class="social facebook" target="_blank"
          aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/emmitecheatlh/" class="social instagram" target="_blank"
          aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.x.com/emmitecheatlh/" class="social twitter" target="_blank" aria-label="Twitter"><i
            class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/emmitechealth/" class="social linkedin" target="_blank"
          aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="footer-linksooter-section">
      <h4><strong>Links</strong></h4>
      <ul>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="our_story" href="../AboutUs/">Nossa História</a>
        </li>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="what_is_rpm" href="../BenefitsRPM/"> O que é RPM</a>
        </li>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="rpm_benefits" href="../TransformingRPM/"> Benefícios</a>
        </li>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="blog" href="../blog/"> Blog</a>
        </li>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="contact" href="../Contact/"> Contato</a>
        </li>
      </ul>
    </div>

    <div class="footer-section footer-blog">
      <h4><strong>Blog</strong></h4>
      <ul>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="rpm_today" href="#"> RPM hoje</a>
        </li>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="facilities" href="#"> Facilidades</a>
        </li>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="challenges" href="#"> Desafios</a>
        </li>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="laws" href="#"> Leis</a>
        </li>
        <li class="li-links-footer">
          <span class="arrow">→</span>
          <a data-i18n="reviews" href="#"> Reviews</a>
        </li>
      </ul>
    </div>

    <div class="footer-section footer-newsletter">
      <h4 data-i18n="newsletter_title"><strong>Assine nossa Newsletter</strong></h4>
      <p data-i18n="newsletter_description">
        Receba semanalmente, todas as nossas atualizações sobre
        <strong>RPM no Brasil</strong>
      </p>
      <form action="#" class="newsletter-form">
        <input type="email" placeholder="Enter Email" required />
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      Copyright © Emmitec Health. All rights received 2025 - Design by i4t.ai
    </p>
    <div class="footer-terms">
      <a data-i18n="terms_of_use" href="#">Termos de Uso</a>
      <a data-i18n="privacy_policy" href="#">Política de Privacidade</a>

    </div>
  </div>
</footer>