
 <footer class="footer">
    <div class="container-footer">
      <div class="footer-section footer-left">
        <div>
          <img
            class="logo-footer"
            src="../../assets/logo-footer-with-list.png"
            alt=""
          />
        </div>
        <address>
          1234, Dr Emilio St, South City<br />
          New York 0124
        </address>
        <div class="social-icons">
          <a href="#" class="social facebook" aria-label="Facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="social instagram" aria-label="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="social twitter" aria-label="Twitter"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="#" class="social linkedin" aria-label="LinkedIn"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>

      <div class="footer-linksooter-section">
        <h4><strong>Links</strong></h4>
        <ul>
          <li>
            <a href="#"><span class="arrow">→</span> Nossa História</a>
          </li>
          <li>
            <a href="#"><span class="arrow">→</span> O que é RPM</a>
          </li>
          <li>
            <a href="#"><span class="arrow">→</span> Benefícios</a>
          </li>
          <li>
            <a href="#"><span class="arrow">→</span> Blog</a>
          </li>
          <li>
            <a href="#"><span class="arrow">→</span> Contato</a>
          </li>
        </ul>
      </div>

      <div class="footer-section footer-blog">
        <h4><strong>Blog</strong></h4>
        <ul>
          <li>
            <a href="#"><span class="arrow">→</span> RPM hoje</a>
          </li>
          <li>
            <a href="#"><span class="arrow">→</span> Facilidades</a>
          </li>
          <li>
            <a href="#"><span class="arrow">→</span> Desafios</a>
          </li>
          <li>
            <a href="#"><span class="arrow">→</span> Leis</a>
          </li>
          <li>
            <a href="#"><span class="arrow">→</span> Reviews</a>
          </li>
        </ul>
      </div>

      <div class="footer-section footer-newsletter">
        <h4><strong>Assine nossa Newsletter</strong></h4>
        <p>
          Receba semanalmente, todas as nossas atualizações sobre
          <strong>RPM no Brasil</strong>
        </p>
        <form action="#" class="newsletter-form">
          <input type="email" placeholder="Enter Email" required />
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="footer-bottom">
      <p>
        Copyright © Emmitec Health. All rights received 2025 - Design by i4t.ai
      </p>
      <div class="footer-terms">
        <a href="#">Termos de Uso</a>
        <a href="#">Política de Privacidade</a>
      </div>
    </div>
  </footer>