<header class="header">
  <div class="container-header header-content">
    <div class="header-logo">
      <a href="/index.html">

        <img  src="../../assets/utils/Logo-Emmitec-Horizontal.png" alt="Logo Emmitec Health" />
      </a>
    </div>

    <div class="header-content-right">
      <nav class="header-nav nav-desktop" >
        <div class="nav-item-dropdown">
          
          <a href="#" class="sobre-nos-link">
            Sobre Nós
            <img style="object-fit: cover; height: 6px;  width: auto;" src="../../assets/utils/vector-arrow-bottom.png" alt="ícone local" class="arrow-icon" />
          </a>
          <div class="dropdown-menu">
            <a href="../AboutUs/index.html">Nossa História</a>
            <a href="../BenefitsRPM/index.html">Oque é RPM</a>
            <a href="../TransformingRPM/index.html">Beneficios do RPM</a>
            <a href="../Recognition/index.html">História de Sucesso</a>
            <!-- <a href="../Devices/index.html">Dispositivos</a> -->
            <!-- <a href="../DevicesCopy/index.html">Dispositivos BKP</a> -->
            <a href="../Web application/index.html">Aplicativos</a>
            <!-- <a href="../Application Desktop/index.html">Aplicativos 2</a> -->
          </div>
          </div>
          <!-- <a href="#">Sobre Nós</a> -->
          <a href="../blog/index.html">Blog</a>
          <a href="../Devices/index.html">Equipamentos Integrados</a>
      </nav>


      <nav class="header-nav nav-mobile" id="mobile-menu">
        <a href="../AboutUs/index.html">Nossa História</a>
            <a href="../BenefitsRPM/index.html">Oque é RPM</a>
            <a href="../TransformingRPM/index.html">Beneficios do RPM</a>
            <a href="../Recognition/index.html">História de Sucesso</a>
            <!-- <a href="../Devices/index.html">Dispositivos</a> -->
            <!-- <a href="../DevicesCopy/index.html">Dispositivos BKP</a> -->
            <a href="../Web application/index.html">Aplicativos</a>
            <!-- <a href="../Application Desktop/index.html">Aplicativos 2</a> -->
            <a href="../blog/index.html">Blog</a>
            <a href="../Devices/index.html">Equipamentos Integrados</a>
      </nav>

      <div class="header-actions">
        <div class="header-actions-left">
          <button class="hamburger" aria-label="Menu" id="hamburger-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="header-actions-right">
          <div class="language-selector">
            <img src="../../assets/utils/vector-location.png" alt="ícone local" />

            <span>Brasil</span>
            <img src="../../assets/utils/vector-arrow-bottom.png" alt="ícone local" />
          </div>
          <button class="btn-login">Login</button>
        </div>
      </div>
    </div>
  </div>
</header>