@media (min-width: 769px) and (max-width: 1023px) {
    
    .body-container {
        padding: 80px 20px;
    }

    .n-container {
    width: 100%;
    max-width: 1128px;
    padding: 52px 0px;
}

    .first-section {
        flex-wrap: wrap;
        text-align: center;
        border: 1px solid #11D3D3;
        padding: 15px;
        border-radius: 10px;
    }
    
    .header-container-left h1 {
        font-size: 2.5em;
        text-align: center;
    }

    .recipient-btn {
        display: flex;
        justify-content: center;
    }

    /* Monitoramento remoto */

    .sub-container-mid h2 {
        font-size: 2.2em;
    }

    .sub-container-mid p {
        font-size: 1em;
    }

    .cols-4 {
      display: flex;
      flex-direction: column;
    }

    .sub-col {
        flex-direction: row;
        gap: 32px;
    }

    .sub-col-items-left,
    .sub-col-items-right {
        box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
        padding: 25px;
        border-radius: 10px;
    }
    
    .sub-col-items h3 {
        font-size: 1.2em;
    }

    .sub-col-items p {
        font-size: 0.9em;
    }

    #mid-img {
        max-width: 524px;
        width: 100%;
    }


    /*financeiras*/

.financeiras-content {
    flex-wrap: wrap;
}

.sub-container-left h2 {
    font-size: 2em;
    line-height: 120%;
}

.sub-container-left p {
    font-size: 1em;
    line-height: 150%;
}

.left-box h3 {
    font-size: 1.1em;
}

.left-box p {
    font-size: 1em;
    line-height: 150%;
}

 /*agendamento*/

.agendamento-content {
    gap: 32px;
}
}